{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Staff page</title> 
  <link rel="stylesheet" href="static/home.css">
  <link rel="stylesheet" href="static/all.min.css">
</head>
<body>
  {% csrf_token %}
  <nav>
    <div class="menu">
      <div class="logo">
        <h1 class="h1">Computer Lab management🖥️</h1>
      </div>
      <ul>
        <li><a href="{% url 'img3' %}">All Labs</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
        <li><a href="{% url 'feedback' %}">Feedback</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li> <!-- This line adds the logout link -->
        {% else %}
          <li><a href="{% url 'index' %}">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">Computer</div>
    <span>Lab management</span>
    <div class="sub_title">System</div>
    <div class="par">
      <p>Software solution designed to efficiently manage and organize activities within a computer lab environment. It facilitates reservation of lab slots, minimizing conflicts and maximizing user convenience.</p>
    </div>
  </div>
</body>
</html>
